<div class="relative size-[160px]">
   <svg viewBox="0 0 36 36" class="w-full h-full">
      <path
         d="M18 2.0841 a 15.9167 15.9167 0 0 1 0 31.8334 a 15.9167 15.9167 0 0 1 0 -31.8334"
         fill="none"
         class="stroke-gray-400 stroke-[4]"
         stroke-dasharray="10 100"
      >
      </path>
      <path
         d="M18 2.0841 a 15.9167 15.9167 0 0 1 0 31.8334 a 15.9167 15.9167 0 0 1 0 -31.8334"
         fill="none"
         class="stroke-gray-500 stroke-[4]"
         stroke-dasharray="15 100"
         stroke-dashoffset="-10"
      >
      </path>
      <path
         d="M18 2.0841 a 15.9167 15.9167 0 0 1 0 31.8334 a 15.9167 15.9167 0 0 1 0 -31.8334"
         fill="none"
         class="stroke-gray-600 stroke-[4]"
         stroke-dasharray="75 100"
         stroke-dashoffset="-25"
      >
      </path>
      <circle cx="18" cy="18" r="10" class="fill-background"></circle>
   </svg>
   <div class="absolute inset-0 flex items-center justify-center">
      <p class="text-center text-xs leading-relaxed opacity-90 font-medium">
         10,000 total
      </p>
   </div>
</div>
