---
import Layout from "@/layout/base.astro"
---

<Layout
  title="Not found"
  description="This page does not exist — it may have been moved or deleted."
>
  <div class="grid h-full place-items-center text-center">
    <div>
      <h1 class="mb-3 font-semibold text-xl">Not found</h1>
      <p class="mb-6 text-lg leading-snug opacity-70">
        This page does not exist — <br /> it may have been moved or deleted.
      </p>
      <a
        href={"/"}
        class="bg-foreground text-background h-8 rounded-lg transition-all inline-flex items-center hover:opacity-90 px-3"
      >
        Back home
      </a>
    </div>
  </div>
</Layout>
